header
    div
        a(href="/registerDevice") Register device
        a(href="/registerGroup") Register group
        a(href="/registerMotive") Register motive
        a(href="/device") Device
        a(href="/group") Group
        a(href="/motive") Motive