doctype html
html
    head
        title Index
        style
            include ../../css/style.css
    body
        include ../layout/header.pug
        div
            form(action="/device/notes" method="POST")
                label Content
                    input(name="content")
                label Device
                    select(name="second_id")
                        each device in devices
                            if device[0] == query
                                option(value=device[0], selected= true) #{device[1]}
                            else
                                option(value=device[0]) #{device[1]}
                input(type="submit")