doctype html
html
    head
        title Index
        style
            include ../../css/style.css
    body
        include ../layout/header.pug
        div
            form(action="/registerMotive" method="POST")
                label Motive name
                    input(name="name")
                input(type="submit")